@model shoolnew.Models.teacher

@{
    ViewData["Title"] = "Create Teacher";
}

<h1 class="display-4 text-center my-4">Create Teacher</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Status" class="form-label"></label>
                        <select asp-for="Status" class="form-select">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Created_at" class="form-label"></label>
                        <input asp-for="Created_at" type="date" class="form-control" />
                        <span asp-validation-for="Created_at" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Updated_at" class="form-label"></label>
                        <input asp-for="Updated_at" type="date" class="form-control" />
                        <span asp-validation-for="Updated_at" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <br />
                    <div class="d-grid">
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br />
<br />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
